body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
   width: 100vw;
   height: 10vh;
   background-color: #f0f0f0;
   position: fixed;
   z-index: 99;
   padding-bottom: 5px;
}
.logo{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
.profile-container{
   width: 55px;
   height: 55px;
   overflow: hidden;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.profile-logo{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
h1{
 font-size: 20px;
 font-weight: 500;
}
.scan-help{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 22px;
}
.help{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}
.help-text{
 position: absolute;
 left: 16px;
 bottom: 6px;
}
.help-para{
    background-color: rgb(239, 221, 224);
    color: rgb(168, 6, 6);
    padding: 3px;
    font-size: 10px;
    border-radius: 40%;
}
.scan,.notification,.headset{
   width: 27px;
   height: 27px;
}
.grid-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-self: center;
   justify-content: space-evenly;
   align-items: center;
   background-color: #38B44a;
   position: relative;
   top: 100px;
   width: 90vw;
   color: white;
   padding-left: 10px;
   border-radius: 10px;
   flex-grow: 1;
   flex-shrink: 1;
   text-wrap: nowrap;
}
.security,.transactions,.balance,.add-money{
 display: flex;
 justify-content: center;
 align-items: center;
 column-gap: 1px;
}
.transactions{
 column-gap: 8px;
 row-gap: 0px;
}
.balance{
 column-gap: 7px;
 row-gap: 0px;
 justify-content: center;
 align-items: center;
}
.visibility{
 width: 18px;
 margin-left: 5px;
}
.amount{
 font-size: 22px;
}
.digit{
 font-size: 28px;
 font-weight: 500;
}
.greater-than{
 width: 12px;
}
.greater-than-bigger{
 width: 18px;
}
.add-money{
 background-color: white;
 color: #38B44a;
 width: 125px;
 height: 38px;
 border-radius: 30px;
 justify-self: center;
 margin-left: 20px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    position: relative;
    top: 115px;
    background-color: white;
    box-shadow: -1px -1px 1px 1px  rgba(236, 234, 234, 0.8);
    flex: 1;
    width: 90vw;
    padding-top: 10px;
    border-radius: 10px;
}
.to-opay,.to-bank,.to-withdraw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-position: center;
}
.contact,.bank-logo,.withdraw-logo{
   width: 30px;
}
.opay,.bank,.withdraw{
   font-size: 18px;
   font-weight: 300px;
}
.biz-account{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    position: relative;
    top: 130px;
    background-color: white;
    box-shadow: -1px -1px 1px 1px  rgba(236, 234, 234, 0.8);
    flex: 1;
    width: 90vw;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.biz-benefit{
 font-size: 16px;
 font-weight: 500;
 color: gray;
}
.activate{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.activate-title{
 font-size: 19px;
 margin-bottom: -10px;
}
.get-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 50px;
    color: white;
    font-size: 22px;
    background-color: #38B44a;
    border-radius: 25px;
}
.utility{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-auto-rows: 1fr 1fr;
   justify-self: center;
   justify-content: space-around;
   align-items: center;
   position: relative;
   top: 145px;
   width: 90vw;
   background-color: white;
   box-shadow: -1px -1px 1px 1px  rgba(236, 234, 234, 0.8);
   border-radius: 10px;
   flex-grow: 1;
   flex-shrink: 1;
   row-gap: 30px;
   padding-top: 30px;
   font-size: 19px;
}
.airtime-container,.data-container,.betting-container,.tv-container,.safebox-container,.loan-container,.play-container,.more-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.connection-container,.cellular-container{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}
.connection-absolute,.cellular-absolute{
 position: absolute;
 background-color: rgb(214, 82, 82);
 color: white;
 bottom: 25px;
 left: 16px;
 width: 65px;
 height: 28px;
 border-radius: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
}
.loan-logo-container{
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loan-absolute{
    position: absolute;
    background-color: rgb(214, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 28px;
    left: 19px;
    width: 45px;
    height: 20px;
    border-radius: 50px;
    font-size: 14px;
}
.cellular,.connection,.ball,.watch,.safe,.loan-logo,.trust,.more-items,.discount{
    width: 35px;
}
.bottom-nav{
    position: fixed;
    background-color: white;
    color: rgb(61, 60, 60);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0px;
    z-index: 50;
    padding-top: 18px;
    box-shadow: 
    -1px -1px 1px 1px  rgba(236, 234, 234, 0.8);
}
.home-container,.rewards-container,.finance-container,.cards-container,.me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
}
.home,.reward,.finance,.card,.me{
   width: 30px;
}
.home-text,.reward-text,.finance-text,.card-text,.me-text{
   font-size: 14px;
}
@media (min-width: 700px){
    .grid-container{
   top: 110px;
}
.flex-container{
    top: 125px;
}
.biz-account{
    top: 140px;
}
.utility{
   top: 155px;
}
}